.navbar {
  height: 10vh;
}

.btn {
  color: $white  !important;
  display: flex !important;
  align-items: center !important;
}

#root {
  min-height: 100vh;
}

.app-bg {
  border-radius: .5rem;
}

.form-check-input {
  background-color: $primary-700  !important;
  border-color: $primary-700  !important;

  &:checked {
    background-color: $secondary  !important;
    border-color: $secondary  !important;
  }
}

.dark {

  .offcanvas,
  .navbar {
    color: $white;
    background-color: $gray-500;
    transition: all 500ms ease-in-out;
  }

  .app-bg {
    color: $white;
    background-color: $gray-500;
  }

  .tile:hover {
    background-color: rgba(255, 255, 255, 0.102)
  }

  .modal-content {
    background-color: $gray-500;
    color: $white;
  }

  .contract-tile {
    background-color: $gray-500;
    transition: all 500ms ease-out;
  }

  .form-control,
  .form-select {
    background-color: $gray-500;
    color: $white;

    &:focus {
      background-color: $gray-500;
      color: $white;
    }

  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $gray-500 inset !important;
    -webkit-text-fill-color: $white  !important;
  }

  #root {
    background-color: $gray-600  !important;
    color: $white  !important;
    transition: all 500ms ease-in-out;
  }
}

.light {
  .navbar {
    color: $gray-700;
    background-color: $white;
  }

  .app-bg {
    color: $gray-700;
    background-color: $white;
  }

  .offcanvas,
  .navbar {
    color: $gray-700;
    background-color: #f6f6f6;
    transition: all 500ms ease-in-out;
  }

  .modal-content {
    background-color: $white;
    color: $gray-700;
  }

  .contract-tile {
    background-color: $white;
    transition: all 500ms ease-out;
  }

  #root {
    color: $gray-500;
    background-color: #eeeeee;
    transition: all 500ms ease-in-out;
  }
}