.navbar {
    height: 10vh;
}

.btn {
    color: $white  !important;
}

#root {
    min-height: 100vh;
}

.dark {

    .offcanvas,
    .navbar {
        color: $white;
        background-color: $gray-500;
        transition: all 500ms ease-in-out;
    }

    .tile:hover {
        background-color: rgba(255, 255, 255, 0.102)
    }

    .modal-content {
        background-color: $gray-500;
        color: $white;
    }

    .contract-tile {
        background-color: $gray-500;
        transition: all 500ms ease-out;
    }

    #root {
        background-color: $gray-600  !important;
        color: $white  !important;
        transition: all 500ms ease-in-out;
    }
}

.light {
    .navbar {
        color: $gray-700;
        background-color: $white;
    }

    .offcanvas,
    .navbar {
        color: $gray-700;
        background-color: #f6f6f6;
        transition: all 500ms ease-in-out;
    }

    .modal-content {
        background-color: $white;
        color: $gray-700;
    }

    .contract-tile {
        background-color: $white;
        transition: all 500ms ease-out;
    }

    #root {
        color: $gray-500;
        background-color: #eeeeee;
        transition: all 500ms ease-in-out;
    }
}