$color: #2020241e;
$bg: #2020240e;

.tile {
  transition: all 200ms ease-in-out;
  padding: 1.3rem 3rem;

  &:hover {
    background-color: $color;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
}