$primary-700: #996dff;
$primary-500: #a985fc;

$secondary: #fba94c;

$green-700: #00875f;
$green-500: #00b37e;
$green-300: #04d361;

$gray-700: #121214;
$gray-600: #202024;
$gray-500: #29292e;
$gray-400: #323238;
$gray-300: #7c7c8a;
$gray-200: #c4c4cc;
$gray-100: #e1e1e6;

$white: #ffffff;

$theme-colors: (
  "primary-700": $primary-700,
  "primary-500": $primary-500,
  "secondary": $secondary,
  "green-700": $green-700,
  "green-500": $green-500,
  "green-300": $green-300,
  "gray-700": $gray-700,
  "gray-600": $gray-600,
  "gray-500": $gray-500,
  "gray-400": $gray-400,
  "gray-300": $gray-300,
  "gray-200": $gray-200,
  "gray-100": $gray-100,
  "white": $white,
);

$input-border-color: $primary-500;
$input-focus-box-shadow: 0 0 0.5em $primary-500 !important;

.row {
  margin: 0!important;
  padding: 0!important;
}

p {
  margin: 0!important;
}

@import "./theme";
@import "./helpers";
@import "./tile";
@import "./content";
@import "./offcanvas";
@import "./login";
@import "./navbar";
@import "./contract_tile";
@import "node_modules/bootstrap/scss/bootstrap";
